.footer{
    width: 90%;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #cfcfcf;
}

.footer >img{
    width: 25px;
    margin:0 10px 0 10px;
    height: 48px;
}