

.tasks-input>img{
    width: 26px;
    height: min-content;
    margin-left: 8px;

}
.TasksPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-top: 60px;

}
.tasks-input{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: #ebebeb;
    height: 50px;
    width: 90%;
    /*top: 65px;*/

    border-radius: 5px;
}
.tasks-input>input{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: 0;
    border: 0;
    outline: none;
    height: 30px;
    padding-left: 10px;
}

.navigate-bar{
    /*display: flex;*/
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    z-index: 1;
    padding: 0 5px;
    border-radius: 5px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 10fr;*/
align-content: center;
    border-bottom: 1px solid gray;
}
.navigate-bar>img{
    position: absolute;
    left: 30px;
    width: 23px;
    top: 9px;
    height: 36px;
}
.navigate-bar>h3{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
}