

.tasks-input>img{
    width: 26px;
    height: min-content;
    margin-left: 8px;

}
.TasksPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 86vh;
    overflow: hidden;
}

.tasks-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebebeb;
    height: 50px;
    width: 100%;

    border-radius: 5px;
}

.tasks-input>input{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: 0;
    border: 0;
    outline: none;
    height: 30px;
    padding-left: 10px;
}

.navigate-bar {

    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-container{
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}
.navigate-bar>img{
    width: 23px;
    height: 36px;
    margin-right: auto;
}

.navigate-bar>h3{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    position: absolute; /* Позволяет точное позиционирование */
    left: 50%;          /* Перемещает центральный элемент к центру контейнера */
    transform: translateX(-50%); /* Центрирует элемент, перемещённый на 50% */
}

.all-tasks{
    width: 100%;
    overflow-y: scroll;
}


.all-task-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}