#root{
  overflow-y: clip;
  height: 100vh;
  margin:0;
  background: white;
  padding: 0;
}
body{
  margin: 0;
  /*overflow-y:clip;*/
  padding: 0;

}

body>h1{
  margin:0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.load{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Светло серый */
  border-top: 16px solid #3498db; /* Синий */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}